extends layout

block head
	link(rel='stylesheet', href='/styles/notes.css')

block content
	header#controls.closed
		section#controls
			nav
				input(type="button", class="btn", value="Add Note", data-bind="click: addNote")
				input(type="button", class="btn logout", value="Log out", onclick="(function(){window.location='/logout'}());")
		section#btnControls

	// ko template: { name: 'note-template', foreach: notes, afterAdd: addDrag}
	// /ko

block scripts
	|<script type="text/html" id="note-template"><article class="note" data-bind="attr: { 'id': _id }"><input class="btnX hidden" data-bind="click: remove" type="button" value="X" /><textarea class="note" data-bind="value: note"></textarea></article></script>

	script(src='/socket.io/socket.io.js')
	script(src='/viewmodels/notes.js');