* {
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
body header {
  display: none;
}
body header#controls {
  display: block;
  position: relative;
  top: -31px;
  left: auto;
  right: auto;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  /*end section#controls*/

  /*end section#btnControls*/

}
body header#controls section#controls {
  height: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #b6d6d4;
  border-bottom: 1px solid #9a9ca9;
  border-right: 1px solid #9a9ca9;
  border-left: 1px solid #9a9ca9;
  overflow: hidden;
}
body header#controls section#controls nav {
  border: 0;
  width: 490px;
  margin-left: 100px;
}
body header#controls section#controls nav input.btn {
  font-size: .7em;
  display: inline;
  border: 0;
  padding: .15em .25em;
  background-color: transparent;
  cursor: pointer;
  color: #409ea6;
}
body header#controls section#controls nav input.btn.logout {
  font-size: .4em;
  float: right;
}
body header#controls section#controls nav input.btn:hover {
  color: #337e85;
}
body header#controls section#btnControls {
  height: 20px;
  width: 50px;
  background-color: #b6d6d4;
  border-bottom: 1px solid #9a9ca9;
  border-right: 1px solid #9a9ca9;
  border-left: 1px solid #9a9ca9;
  margin-top: -1px;
  margin-left: 30px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  z-index: 1;
}
body article.note {
  position: absolute;
  left: 50px;
  top: 70px;
  height: 200px;
  width: 200px;
  /*background-color: #ac8586; */

  background-color: rgba(209, 222, 216, 0.8);
}
body article.note textarea.note {
  font-family: arial;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 20px;
  height: 160px;
  width: 160px;
  border: 0;
  resize: none;
  background-color: transparent;
}
body article.note input.btnX {
  font-family: arial;
  font-size: .45em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 0;
  padding-bottom: 5px;
  padding-right: 1px;
  background-color: #954856;
  border-radius: 10px;
  position: absolute;
  left: -10px;
  top: -30px;
  height: 20px;
  width: 20px;
  border: 2px solid #fff;
}
body article.note input.btnX:hover {
  background-color: #633039;
}
