/*css reset*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
/*font reset*/
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif}table{font-size:inherit;font:100%}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}#yui3-css-stamp.cssfonts{display:none}

//clearfix
.clearfix:after {
	visibility:hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }
.clearfix { display: block; }

//end clearfix

.global_width{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

@fontSize: 1.5em;

.hidden{
    display: none;
}
html {

	background-color: #EBE8E9;
    background-image: url('/styles/img/background.png');
    background-repeat: repeat;

	body {
		font-family: Tahoma, Geneva, sans-serif;
		font-size: @fontSize;
		color: rgba(0, 0, 0, .4);

		h3.err{
			color: red;
		}
		div.ui-datepicker{
			font-size:12px;
		}
	    header {
	    	height: 50px;
	    	//background-color: #b6d6d4;
	    }
	    article{
	    	width: 650px;
	    	height: 350px;
	    	margin-left: auto;
	    	margin-right: auto;
	    	div.mess{
	    		width: auto;
	    		margin-left: auto;
	    		margin-right: auto;
	    	}
	    	form{
	    		position: relative;
	    		width: auto;
	    		fieldset{
		    		&.left{
		    			position: absolute;
		    			left: 0;
		    			top: 0;
		    			width: auto;
		    		}
		    		&.right{
		    			position: absolute;
		    			right: 0;
		    			top: 0;
		    			width: 300px;
		    			border:1 solid red;
		    		}
	    		}

	    	}

	    	input{
	    		padding: 10px;
	    		background-color: rgba(160, 183, 196, .3);
	    		border-radius: 5px;
	    		border: 2px solid #9a9ca9;
	    		color: rgba(154, 156, 169, .8);
	    		&:not([type="button"]){
	    			width:200px;
	    		}
	    		&[type="button"]{
	    			margin-top:20px;
	    			float: right;
	    			color: rgba(154, 156, 169, .8) *.8;
	    			background-color: rgba(160, 183, 196, .6);
	    			&:hover{
	    				background-color: rgba(160, 183, 196, .8);
	    			}
	    		}
	    	}
	    }
	}
}

